<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <style>
      body {
        background-color: #f2f2f2;
        padding: 70px 0;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>shorty.my</h1>
      <p>A url shortener written in Node.js</p>
      <hr />
      <h3>ERROR 404</h3>
      The link you are searching for can't be found. <br />
      <br /><br /><br />By using this site, you agree to our
      <a href="/tos">Terms Of Service</a> |
      <a href="https://github.com/modernide">By modernide</a> |
      <a href="mailto:hello@shorty.my">Email Us</a>
    </center>
  </body>
</html>